@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Fix blurry transform */
    .will-change {
        will-change: transform;
    }
}

/* Search bar */
input[type="search"]::-webkit-search-cancel-button {
    filter: brightness(0) invert(1);
}

/* Filter */
#filter.show #icon {
    @apply rotate-180;
}
#filter.show ul {
    @apply visible opacity-100;
}

/* Theme change fix */
html {
    --dur: .1s;
}
.duration-100 {
    transition-duration: var(--dur) !important;
}