/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html {
    font-size: 14px;
}

:root {
    --white: #fff;
    --dark-blue: hsl(228, 56%, 26%);
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --very-dark-blue: hsl(229, 57%, 11%);
    --gradient: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

body, .container, .actions, .values {
    display: flex;
}

/* BODY */

body {
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(images/bg-desktop.svg) no-repeat, linear-gradient(var(--very-dark-blue), var(--very-dark-blue));
    background-position: 0 50vh;
    background-size: contain;
}

/* CONTAINER */

.container {
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.ctn {
    background: var(--dark-blue);
    padding: 2.5rem;
    border-radius: 9px 9px 9px 9px;
}

/* FIRST COMPONENT */

.control-ctn {
    max-width: 300px;
    width: 100%;
    border-top-right-radius: 85px;
    box-shadow: -10px 10px 60px rgba(0,0,0,.3);
    z-index: 10;
}

.fylo-icon {
    width: 125px;
}

.actions {
    margin-top: 1.6rem;
    margin-left: -1px;
}

.icon {
    box-sizing: content-box;
    background: var(--very-dark-blue);
    width: 3rem;
    height: 3rem;
    border-radius: 7px;
    margin-right: .8rem;
    border: 2px solid var(--dark-blue);
    transition: .1s;
}

.icon:hover {
    border-color: var(--pale-blue);
}

.icon img {
    width: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon:first-child img {
    width: 18px;
}

/* SECOND COMPONENT */

.storage-ctn {
    margin-left: 1.9rem;
    max-width: 550px;
    width: 100%;
    position: relative;
    box-shadow: 10px 10px 60px rgba(0,0,0,.3);
}

.pale-text {
    color: var(--pale-blue);
}

.values {
    justify-content: space-between;
}

.progress-bar, .fill {
    border-radius: 10px;
}

.progress-bar {
    width: 100%;
    height: 1.3rem;
    background: var(--very-dark-blue);
    padding: .2rem;
    margin: 1.1rem 0 .6rem 0;
}

.progress-bar .fill {
    width: 75%;
    height: 100%;
    background: var(--gradient);
    position: relative;
}

.progress-bar .fill::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .15rem;
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
    background: var(--pale-blue);
}

.space-left {
    position: absolute;
    top: -3.4rem;
    right: 2.3rem;
    background: var(--white);
    border-radius: 9px 9px 0 9px;
    padding: .9rem 1.8rem;
}

.space-left::after {
    content: "";
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 35px 33px 0;
    border-color: transparent var(--white) transparent transparent;
}

.gb {
    font-size: 2.9rem;
}

.gb-left {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--grayish-blue);
    position: relative;
    top: -.6rem;
    margin-left: .4rem;
}

/* ATTRIBUTION */

.attribution {
    font-size: 13px;
    position: absolute;
    bottom: 18px;
    color: var(--grayish-blue);
}

.attribution a {
    color: var(--white);
}

/* MOBILE */

@media screen and (max-width: 700px) {
    body {
        background: url(images/bg-mobile.svg) no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 0 2rem;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    
    .control-ctn, .storage-ctn {
        max-width: 100%;
    }
    
    .control-ctn {
        box-shadow: 0 -10px 100px rgba(0,0,0,.4);
    }

    .storage-ctn {
        margin-left: 0;
        margin-top: 1.1rem;
        padding-bottom: 3.7rem;
        box-shadow: 0 10px 100px rgba(0,0,0,.4);
    }

    .space-left {
        border-bottom-right-radius: 9px;
        top: unset;
        right: unset;
        left: 50%;
        transform: translateX(-50%);
        bottom: -2.7rem;
        width: max-content;
    }

    .space-left::after {
        display: none;
    }
}